msvs_version=2019 # Visual Studio C++ Build Tools
nodedir=C:\\Program User\\node-v24.13.0 # Nodejs (with headers)
python=C:\Users\extp-sphinx-duclc\AppData\Local\Programs\Python\Python39\python.exe # Python
